- title('How do I clock in with Minuteworx?')
- content_for :header do
  .tags.right
    %a
      = icon('price-tag')
      Clocking In
    %a
      = icon('price-tag')
      Blueforce

.widget.large-12.columns.question
  .inner
    .row.full-width
      .medium-3.columns.centered_text
        = image_tag 'avatars/4.jpg', class: :avatar
        %div
          %strong Lisa Wuong
        .small.comment Yesterday at 7:34 pm
      .medium-9.columns
        .question_text
          I can't clock in, Help!

.row.full-width
  .large-12.columns
    %h3 2 Answers

.widget.large-12.columns.answer
  .inner
    .row.full-width
      .medium-3.columns.centered_text
        %h4.accepted_answer Accepted Answer
        = image_tag 'avatars/7.jpg', class: :avatar
        %div
          %strong Jim Galley
        .small.comment Today at 11:17 am
        .accepted_answer
          = icon('check')
          .votes
            12
      .medium-9.columns
        .answer_text
          Check out this article for info on setting up your punch clock!
          = link_to 'http://support.rbdconnect.com/help/article/123871', 'http://support.rbdconnect.com/help/article/123871'
.widget.large-12.columns
  .inner
    .row.full-width
      .medium-3.columns.centered_text
        = image_tag 'avatars/8.jpg', class: :avatar
        %div
          %strong Bryon Johnson
        .small.comment Today at 11:15am
        .submitted_answer
          = icon('check')
          .votes
            20
      .medium-9.columns
        .answer_text
          Your manager will have the details

.widget.large-12.columns
  .inner
    .row.full-width
      .medium-3.columns.centered_text
        = image_tag 'avatars/9.jpg', class: :avatar
      .medium-9.columns
        %h3 Answer Lisa's question:
        %textarea(placeholder="Type your answer here" )
        %input.button(type="submit" value="Answer")

