.row.full-width.wall_post_edit_comment_form
  .large-10.medium-9.columns
    = form_for comment, remote: true do |f|
      = f.text_area :comment, rows: 3, placeholder: 'Edit yo post'
      = f.hidden_field :wall_post_id, value: comment.wall_post.id
      = f.hidden_field :person_id, value: @current_person.id
      = f.submit 'Save', class: :button
  .large-2.medium-3.columns
    = avatar @current_person
