%li.has-dropdown
  = link_to 'Admin', '#'
  %ul.dropdown
    - if DevicePolicy.new(@current_person, Device.new).index?
      %li= link_to('Devices', devices_path)
      %li= link_to('Lines', lines_path)
      %li= link_to('Device Models', device_models_path)
    - if AreaPolicy.new(@current_person, Area.new).index? || AreaTypePolicy.new(@current_person, AreaType.new).index?
      %li.divider
      - for project in visible_projects
        - next unless project.areas.count > 0
        %li.has-dropdown
          %a{ href: '#' }= project.name #link_to project.name, client_project_path(project.client, project)
          %ul.dropdown
            -#%li= link_to 'Sales', sales_client_project_path(project.client, project)
            %li.has-dropdown
              %a{ href: "#" } Areas &amp; Locations
              %ul.dropdown
                - if AreaTypePolicy.new(@current_person, AreaType.new).index?
                  %li
                    = link_to 'Area Types', client_project_area_types_path(project.client, project)
                - if AreaPolicy.new(@current_person, Area.new).index?
                  %li
                    = link_to 'Areas', client_project_areas_path(project.client, project)
                - if LocationPolicy.new(@current_person, Location.new).new?
                  %li
                    = link_to 'New Location', new_client_project_location_path(project.client, project)
    - if DepartmentPolicy.new(@current_person, Department.new).index?
      %li.divider
      %li= link_to 'Departments', departments_path
    - if ChangelogEntryPolicy.new(@current_person, ChangelogEntry.new).manage? || LogEntryPolicy.new(@current_person, LogEntry.new).index?
      %li.divider
      - if ChangelogEntryPolicy.new(@current_person, ChangelogEntry.new).manage?
        %li= link_to('Changelog', changelog_entries_path)
      %li= link_to('Log', log_entries_path)