- vonage_sale_policy = VonageSalePolicy.new(@current_person, VonageSale.new)
- vonage_device_policy = VonageDevicePolicy.new(@current_person, VonageDevice.new)
- walmart_gift_card_policy = WalmartGiftCardPolicy.new(@current_person, WalmartGiftCard.new)
- vonage = Project.find_by name: 'Vonage'
- if @visible_projects.include?(vonage) && (walmart_gift_card_policy.new? || vonage_sale_policy.new? || vonage_sale_policy.index?)
  %li.has-dropdown
    %a{ href: '#' } Vonage
    %ul.dropdown
      - if vonage_sale_policy.index?
        %li= link_to 'Vonage Sales', vonage_sales_path
      - if vonage_sale_policy.new?
        %li= link_to 'Sale Entry', new_vonage_sale_path
      - if walmart_gift_card_policy.new?
        %li.divider
        %li= link_to 'Gift Card Import/Balance Check', new_walmart_gift_card_path
      - if vonage_device_policy.transfer?
        %li.divider
        %li= link_to 'Receive', new_vonage_device_path
        %li= link_to 'Transfer', transfer_vonage_devices_path
      - if vonage_device_policy.accept?
        %li= link_to 'Accept', accept_vonage_devices_path
      - if vonage_device_policy.reclaim?
        %li= link_to 'Reclaim', reclaim_vonage_devices_path