- title @person.display_name

.widgets.row.full-width
  .row.full-width
    .widget.large-4.medium-6.columns
      .inner
        %h3 Basic Information
        - if @person.errors and @person.errors.any?
          - @person.errors.full_messages.each do |msg|
            .alert.alert-box= msg
        = form_for @person do |f|
          .row.full-width
            .large-4.medium-6.columns.centered_text= image_tag( avatar_url(@person), class: :avatar )
            .large-8.medium-6.columns= f.file_field :image, accept: 'image/png,image/jpeg,image/gif'
          = f.label :personal_email
          = f.text_field :personal_email
          = f.label :mobile_phone
          = f.text_field :mobile_phone
          = f.label :home_phone
          = f.text_field :home_phone
          = f.label :office_phone
          = f.text_field :office_phone
          = f.submit 'Save', class: 'button'

    .widget.large-4.medium-6.columns
      .inner
        %h3 Bio
        = form_for @profile, url: person_profile_path(@person), method: :put do |f|
          = f.text_area :bio, rows: 15
          = f.submit 'Save', class: 'button'

