- content_for :header do
  = link_to icon('magnifying-glass'), '#', id: 'show_search'

  = search_form_for @search, id: 'search_form' do |f|
    = link_to "&times;".html_safe, '#', id: 'hide_search'
    = link_to 'Clear', request.path if params[:q]
    = f.select :active_eq, [['Active', true],['Dismissed', false]], include_blank: 'All'
    = f.text_field :follow_up_by_gteq, placeholder: 'F/U on/after'
    = f.text_field :follow_up_by_lteq, placeholder: 'F/U on/before'
    = f.text_field :directv_customer_person_display_name_cont, placeholder: 'Rep Name'
    = f.text_field :directv_customer_first_name_cont, placeholder: 'Cust. first name'
    = f.text_field :directv_customer_last_name_cont, placeholder: 'Cust. last name'
    = f.submit 'search', class: 'button'
  - if @devices
    .top-pagination
      = paginate @devices