- if @sprint_sale.errors.any?
  - @sprint_sale.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for @sprint_sale, id: 'postpaidSaleForm', url: new_sprint_sales_path(@project.id) do |f|
      - person_name_options = options_from_collection_for_select(@salesmakers, :id, :display_name, @sprint_sale.person_id)
      = f.label :person_id, 'Sales Representative'
      = f.select :person_id, person_name_options, include_blank: true
      = f.label :sale_date, 'Sale Date'
      - sale_date_value = @sale_date ? @sale_date : nil
      = text_field_tag 'sprint_sale[sale_date]', sale_date_value, placeholder: 'MM/DD/YYYY'
      - location_options = options_from_collection_for_select(@sprint_locations, :id, :name, @sprint_sale.location_id)
      = f.label :location_id, 'Location'
      = f.select :location_id, location_options, include_blank: true
      = f.label :upgrade, 'New Service?'
      - upgrade_selected = @sprint_sale.errors.any? ? @sprint_sale.upgrade : nil
      = f.select :upgrade, options_for_select([['New Activation', false], ['Upgrade', true]], upgrade_selected), include_blank: true
      = f.label :sprint_handset_id, 'Handset'
      = f.grouped_collection_select :sprint_handset_id, @carriers, :sprint_handsets, :name, :id, :name, include_blank: true, id: 'postpaid_handset'
      = f.label :sprint_rate_plan_id, 'Rate Plan'
      = f.grouped_collection_select :sprint_rate_plan_id, @carriers, :sprint_rate_plans, :name, :id, :name, include_blank: true, id: 'postpaid_rate_plan'
      = f.label :number_of_accessories
      = f.number_field :number_of_accessories, include_blank: true
      = f.label :picture_with_customer, 'Did you get a picture with customer?'
      - picture_with_customer_selected = @sprint_sale.errors.any? ? @sprint_sale.picture_with_customer : nil
      = f.select :picture_with_customer, options_for_select([['Yes'],['No, Customer Refused'],['No, Forgot']], picture_with_customer_selected), include_blank: true
      = f.label :comments
      = f.text_area :comments, size: "30x10"
      = f.hidden_field :project_id, value:  @project.id
      = f.hidden_field :sprint_carrier_id, id: 'postpaid_carrier'
      = f.submit 'Complete Sale', class: [:button]

      %p
        Be sure to enter all information correctly in order to prevent problems with your sales.

      %p
        <b>Locations:</b> Be sure to choose the location that you're in because locations are one of the only things that cannot be changed about sales once they've been entered. If you sold at more than one location, submit only sales from one location each time you submit your sales and repeat the process for the other locations.
