- if @sprint_sale.errors.any?
  - @sprint_sale.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for @sprint_sale, url: new_sprint_sales_path(@project.id) do |f|
      - person_name_options = options_from_collection_for_select(@salesmakers, :id, :display_name, @sprint_sale.person_id)
      = f.label :person_id, 'Sales Representative'
      = f.select :person_id, person_name_options, include_blank: true
      = f.label :sale_date, 'Sale Date'
      = f.text_field :sale_date, placeholder: 'MM/DD/YYYY'
      - location_options = options_from_collection_for_select(@sprint_locations, :id, :name, @sprint_sale.location_id)
      = f.label :location_id, 'Location'
      = f.select :location_id, location_options, include_blank: true
      = f.label :upgrade, 'New Service?'
      = f.select :upgrade, options_for_select([['New Activation', false], ['Upgrade/New Phone', true]], nil), include_blank: true
      = f.label :handset_model_name, 'Handset'
      = f.text_field :handset_model_name
      = f.label :rate_plan_name, 'Rate Plan'
      = f.text_field :rate_plan_name
      = f.label :number_of_accessories
      = f.number_field :number_of_accessories, include_blank: true
      = f.label :picture_with_customer, 'Did you get a picture with customer?'
      = f.select :picture_with_customer, options_for_select([['Yes'],['No, Customer Refused'],['No, Forgot']], nil), include_blank: true
      = f.label :comments
      = f.text_area :comments, size: "30x10"
      = f.hidden_field :project_id, value:  @project.id
      = f.submit 'Complete Sale', class: [:button]
