= mailer_h1 'Please Return Your Company Asset'

%strong= @person_name + ','
%br
%br
%p The asset(s) that you were issued will need to be returned to SalesMakers, Inc immediately, per the signed agreement. The assets that were assigned to you by SalesMakers, Inc are listed at the end of this email for your convenience.

%p If you do not already have an RMA ("Return Merchandise Authorization") shipping label to return the asset(s), SalesMakers, Inc will provide you with one at our expense, but you must request the label by following the below instructions.

= mailer_h2 'Instructions'
%br
%ol
  %li
    Visit
    %a{href:'assetreturns.salesmakersinc.com'} assetreturns.salesmakersinc.com

  %li Fill in all required information and any applicable optional information
  %li
    Please make sure you box up your asset(s) properly and protect them for shipment. For more information on properly packaging your item, see
    %a{href: 'http://www.fedex.com/us/service-guide/our-services/package-shipment/'} this resource
  %li Include any accessories (charger, SD Card, etc.) in the same box.

%p If you have any questions, please don't hesitate to email us.

%p Best Regards,
%br
%strong HR Assets Department
%br
SalesMakers, Inc
%br
%a{ href: 'mailto:assets@retaildoneright.com' } assets@retaildoneright.com
%br
%strong
  %em
    This is an automated message. Do not reply directly to this email, as it will not be seen. Direct all communication through
    %a{href: "mailto:assets@retaildoneright.com"} assets@retaildoneright.com

= mailer_h2 'Assets On Record'

%h3 Information
%table{ style: 'width: 100%;' }
  %tr
    %td
      %strong
        %u Type
    %td
      %strong
        %u Serial
    %td
      %strong
        %u PTN
  - for device in @devices do
    %tr
      %td= device.device_model_name
      %td= device.serial
      %td= device.line.present? ? device.line.identifier : 'N/A'