= mailer_h1 'Asset Found'

%p= 'An asset has just been marked as "Found" for ' + @person_name + '(' + @personal_email + ', ' + @person_phone  + ', EID: ' + @eid + '):'
%table{ style: "width: 100% "}
  %tr
    %td
      %strong
        %u Type
    %td
      %strong
        %u Serial/Dec
    %td
      %strong
        %u PTN
  %tr
    %td= @device.device_model_name
    %td= @device.serial
    %td= @device.line.present? ? @device.line.identifier : 'N/A'
