- content_for :action_buttons do
  = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
.widget
  .inner
    = form_tag time_slots_candidate_interview_schedules_path(@candidate) do
      = label_tag :interview_date
      = text_field_tag :interview_date, nil, placeholder: "Use MM/DD/YYYY or terms like 'today', 'tomorrow', 'next monday' etc"
      = label_tag :cloud_room, 'What is your LifeSize cloud room?'
      = text_field_tag :cloud_room
      = submit_tag 'Search for time slots', class: :button