.widget
  .inner
    = form_for [@candidate, @interview_schedule] do |f|
      = f.label :interview_date
      = f.text_field :interview_date, class: 'interview_date', placeholder: "Use MM/DD/YYYY or terms like 'today', 'tomorrow', etc'"
      = f.label :time_slot, class: ['interview_time', 'hidden']
      = f.select
      = f.submit 'Schedule Interview', class: :button