- title @person.display_name
- content_for :action_buttons do
  = link_to icon('thumbnails') + ' Wall', @person, class: [:button, :inline_button] if @show_wall
  - if @person == @current_person
    = edit_button edit_profile_path(@person.profile)


- if @person.areas.count > 0
  %ul.breadcrumbs
    - for area in @person.areas
      %li= link_to area.project.client.name, area.project.client
      %li= link_to area.project.name, client_project_path(area.project.client, area.project)
      - for parent_area in area.path
        %li= area_link(parent_area)

.widgets.poeple_about
  .widget.person_widget.centered_text
    .inner
      - if @person.profile and @person.profile.nickname
        %strong= '"' + @person.profile.nickname + '"'
      - else
        %strong= @person.display_name
      %br
      = image_tag avatar_url(@person), class: 'avatar'
      %br
      %em= @person.position.name
      %br
      %em= @person.position.department.name
  .widget.person_widget
    .inner
      %h3 Basic Information
      .comment.bottom_spacing
        = @person.position.name
        - if @person.active?
          %span.comment.small.round.ok.label.inline_button Active
        - else
          %span.comment.small.round.bad.label.inline_button Inactive
      - if @show_wall
        - if not @person.active? and @person.employments.count > 0 and @person.employments.first.end
          %p
            %strong Last Day Worked:
            - if @person.employments.first.end.strftime('%Y').to_i < 2008
              Unknown
            - else
              = @person.employments.first.end.strftime('%-m/%-d/%Y')
          %p
            %strong Termination Date:
            - if @person.employments.first.end.strftime('%Y').to_i < 2008
              Unknown
            - else
              = @person.employments.first.updated_at.strftime('%-m/%-d/%Y')
        - if @person.employments.count > 0
          %p
            %strong Hire Date:
            = @person.employments.first.start.strftime('%-m/%-d/%Y')
      - if @person.supervisor
        %p
          %strong Supervisor:
          = link_to @person.supervisor.display_name, @person.supervisor
      %p
        %strong Email:
        = mail_to @person.email
      - if @person.personal_email and @show_wall
        %p
          %strong Personal Email:
          = mail_to @person.personal_email
      - if @person.mobile_phone.present? and @show_wall
        %p
          %strong Mobile Phone:
          = phone_link @person.mobile_phone, nil
      - if @person.office_phone.present?
        %p
          %strong Office Phone:
          = phone_link @person.office_phone, nil
      - if @person.home_phone.present?
        %p
          %strong Home Phone:
          = phone_link @person.home_phone, nil
  .widget.person_widget
    .inner
      %h3
        - if @person == @current_person
          About Me
        - else
          About
          = @person.social_name
      - if @person.profile.bio
        %p= @person.profile.bio.gsub(/\n/, '<br/>').html_safe
      - else
        %p
          %em
            - if @person == @current_person
              You have not written anything about yourself yet.
            - else
              = @person.social_name
              has not written anything about themself yet.
  - if @profile_educations.count > 0
    .widget.person_widget
      .inner
        %h3 Education
        = render 'profile_educations/listing'
  .widget.person_widget
    .inner
      %h3 Experience
      = render 'profile_experiences/listing'