- start_date = short_date(@paycheck.commission_start)
- end_date = short_date(@paycheck.commission_end)
- title "#{@person.display_name}'s Commissions for #{start_date} - #{end_date}"

.widget
  .inner
    %h3
      = succeed "'s" do
        = @person.first_name
      Sales
    - payouts_total = 0.00
    - payouts_header = header_row(['Date', 'MAC', 'Location', 'Customer', 'Amount'])
    - payout_rows = Array.new
    - for payout in @payouts do
      - payouts_total += payout.payout
      - sale = payout.vonage_sale
      - date = short_date(sale.sale_date)
      - mac = sale.mac
      - location = sale.location.name
      - customer = "#{sale.customer_first_name} #{sale.customer_last_name}"
      - customer = NameCase(customer)
      - amount = number_to_currency(payout.payout)
      - payout_rows << table_row([date, mac, location, customer, amount])
    = table payouts_header, payout_rows
    %h4
      Total:
      = number_to_currency(payouts_total)
.widget
  .inner
    %h3
      = succeed "'s" do
        = @person.first_name
      Refunds
    - refunds_total = 0.00
    - refunds_header = header_row(['Date', 'MAC', 'Acct. Started', 'Status', 'Status Changed', 'Reason', 'Amount'])
    - refunds_rows = Array.new
    - for refund in @refunds do
      - payout = refund.payout
      - refunds_total += -1 * payout.payout
      - change = refund.vonage_account_status_change
      - date = short_date(refund.refund_date)
      - mac = change.mac
      - acct_started = short_date(change.account_start_date)
      - status = NameCase(change.status.to_s)
      - status_changed = short_date(change.created_at)
      - reason = change.termination_reason
      - amount = number_to_currency(payout.payout * -1)
      - refunds_rows << table_row([date, mac, acct_started, status, status_changed, reason, amount])
    = table refunds_header, refunds_rows
    %h4
      Total:
      = number_to_currency(refunds_total)
.widget
  .inner
    %h3 Commission Summary
    .small.comment
      Note: negative balances carrying over from previous checks coming soon.
      If you had a negative balance on the previous check, it will be applied
      to this check and will not yet be reflected here.
    .row.full-width.vertical_space
      .large-3.columns.centered_text
        .sm_green.xx-large-font= number_to_currency(payouts_total)
        .small.comment (sales)
      .large-1.columns.centered_text.xx-large-font
        \-
      .large-3.columns.centered_text
        .sm_red.xx-large-font= number_to_currency(refunds_total * -1)
        .small.comment (refunds)
      .large-1.columns.centered_text.xx-large-font
        \=
      .large-4.columns.centered_text
        %strong.xx-large-font= number_to_currency(payouts_total + refunds_total)
        .small.comment
          %strong (total)