- content_for :action_buttons do
  = link_to icon('indent-more') + ' Org Chart', org_chart_people_path, class: [:button, :inline_button]
  - if PersonPolicy.new(@current_person, Person.new).create?
    = new_button new_person_path

- content_for :header do
  = link_to icon('magnifying-glass'), '#', id: 'show_search'
  = search_form_for @search, id: 'search_form', html: { method: :post }, url: search_people_path do |f|
    = link_to "&times;".html_safe, '#', id: 'hide_search'
    = link_to 'Clear', request.path if params[:q]
    = f.select :active_eq, [['Active', true],['Inactive', false]], include_blank: 'All'
    = f.text_field :eid_eq, placeholder: 'EID'
    = f.text_field :display_name_cont, placeholder: 'Name'
    = f.text_field :email_cont, placeholder: 'Email'
    = f.text_field :mobile_phone_number_cont, placeholder: 'Phone'
    - position_name_options = options_for_select(Position.all.map { |n| n.name } )
    = f.select :position_name_cont, position_name_options, include_blank: 'Position'
    - project_name_options = options_for_select(Project.all.map { |n| n.name })
    = f.select :person_areas_area_project_name_cont, project_name_options, include_blank: 'Project'
    = f.text_field :supervisor_display_name_cont, placeholder: 'Supervisor'
    = f.text_field :areas_name_cont, placeholder: 'Area(s)'
    = f.submit 'Search', class: [:button, :inline_button]
  .top-pagination
    = paginate @people

%section
  - h_eid = sort_link @search, :eid, 'EID'
  - h_hired = 'Hired'
  - h_termed = 'Term\'d'
  - h_name = sort_link @search, :display_name, 'Name'
  - h_email = sort_link @search, :email
  - h_phone = 'Phone'
  - h_position = sort_link @search, :position_name, 'Position'
  - h_supervisor = sort_link @search, :supervisor_display_name, 'Supervisor'
  - h_projects = 'Project(s)'
  - h_areas = sort_link @search, :areas_name, 'Area(s)'
  - headers = Array.new
  - if @current_person.hq?
    - headers << [h_eid, h_hired, h_termed]
  - headers << [h_name,h_email,h_phone,h_position,h_supervisor,h_projects,h_areas]
  - header = header_row headers.flatten
  - rows = Array.new
  - for person in @people do
    - show_details = person.show_details? @visible_people
    - blocked = content_tag(:div, '-', class: :blocked)
    - classes = person.active? ? '' : 'inactive'
    - hire_date = person.hire_date
    - if hire_date
      - hired = show_details ? link_to(hire_date.strftime('%-m/%-d/%Y'), person, class: classes) : blocked
    - else
      - hired = ''
    - employments = person.employments
    - if person.termination_date_invalid?
      - termed = show_details ? link_to('Unknown', person, class: classes) : blocked
    - elsif person.terminated?
      - termed = show_details ? link_to(person.term_date.strftime('%-m/%-d/%Y'), person, class: classes) : blocked
    - else
      - termed = ''
    - if person.eid
      - eid = show_details ? link_to(person.eid, person, class: classes) : blocked
    - else
      - eid = ''
    - display_name = person_link person, classes
    - email = mail_to person.email, person.email, class: classes
    - if person.office_phone
      - pclasses = person.office_phone_valid? ? classes : 'sm_red'
      - phone = content_tag(:em, 'o:') + phone_link(person.office_phone, pclasses)
    - elsif person.mobile_phone
      - pclasses = person.mobile_phone_valid? ? classes : 'sm_red'
      - phone = content_tag(:em, 'm:') + phone_link(person.mobile_phone, pclasses)
      - phone = show_details ? phone : blocked
    - elsif person.home_phone
      - pclasses = person.home_phone_valid? ? classes : 'sm_red'
      - phone = content_tag(:em, 'h:') + phone_link(person.home_phone, pclasses)
      - phone = show_details ? phone : blocked
    - else
      - phone = ''
    - if phone.include? '(800) 555-1212'
      - phone = ''
    - position_name = person.position_name
    - position_link = position_name ? link_to(position_name, person, class: classes) : ''
    - supervisor = person.supervisor ? person_link(person.supervisor, classes) : ''
    - projects = person.person_areas.empty? ? nil : person.person_areas.map {|pa| pa.area.project.name }.uniq.join(', ')
    - area = person_area_links person, classes
    - row = Array.new
    - if @current_person.hq?
      - row << [eid, hired, termed]
    - row << [display_name, email, phone, position_link, supervisor, projects, area]
    - rows << table_row(row.flatten)
  = table header, rows

- content_for :footer do
  .left= csv_link csv_people_path(controller: :people, action: :index), @search.result.count
  = paginate @people
