- content_for :header do
  .top-pagination
    = paginate @people

%section
  %table
    %thead
      %th EID
      %th Name
      %th Email
      /%th Phone
      %th Supervisor
      %th Area(s)
    %tbody
      - for person in @people do
        %tr
          %td= link_to Faker::Number.number(5), '#' #TODO: Replace these with real info
          %td= link_to person.display_name, '#'
          %td= mail_to person.email
          /%td= link_to person.phone, '#'
          %td= link_to person.connect_user.supervisor.name, '#' if person.connect_user.supervisor
          %td= link_to Faker::Address.city + ' Territory', '#'

- content_for :footer do
  = paginate @people