- content_for :header do
  .top-pagination
    = paginate @people

%section
  %table
    %thead
      %th EID
      %th Name
      %th Email
      %th Phone
      %th Supervisor
      %th Area(s)
    %tbody
      - for person in @people do
        %tr
          %td= link_to Faker::Number.number(5), '#' #TODO: Replace these with real info
          %td= link_to person.display_name, '#'
          %td= mail_to person.email
          - if person.office_phone
            %td= phone_link person.office_phone
          - elsif person.mobile_phone
            %td= phone_link person.mobile_phone
          - elsif person.home_phone
            %td= phone_link person.home_phone
          - else
            %td
          %td= link_to person.supervisor.display_name, '#' if person.supervisor
          %td= person_area_links person

- content_for :footer do
  = paginate @people