= content_for(:title) { @person.social_name + '\'s Wall' }

- content_for :action_buttons do
  = link_to icon('eye') + ' About', about_person_path(@person), class: [:button, :inline_button]
  = link_to icon('dollar') + ' Sales', sales_person_path(@person), class: [:button, :inline_button]

- if @person.position and not @person.position.hq?
  = render partial: 'shared/sales_wall_widget', locals: { object: @person }

.widgets
  = render partial: 'shared/share_form', locals: { wall: @wall, current_person: @current_person, text_post: @text_post,
                                                       uploaded_image: @uploaded_image, uploaded_video: @uploaded_video,
                                                       link_post: @link_post, walls: @walls}
  = render partial: 'wall_posts/wall_posts', locals: { wall_posts: @wall_posts, visible_walls: @visible_walls, wall: @wall, current_person: @current_person }