- title @person.display_name
- if @person == @current_person
  - content_for :action_buttons do
    = edit_button edit_person_profile_path(@person)

- if @person.areas.count > 0
  %ul.breadcrumbs
    - for area in @person.areas
      %li= link_to area.project.client.name, area.project.client
      %li= link_to area.project.name, client_project_path(area.project.client, area.project)
      - for parent_area in area.path
        %li= area_link(parent_area)

.widgets.row.full-width
  .row.full-width
    .widget.large-4.medium-6.columns.centered_text
      .inner
        = image_tag avatar_url @person
        %br
        %em= @person.position.name
        %br
        %em= @person.position.department.name
    .widget.large-4.medium-6.columns
      .inner
        %h3 Basic Information
        .comment.bottom_spacing
          = @person.position.name
          - if @person.active?
            %span.comment.small.round.ok.label.inline_button Active
          - else
            %span.comment.small.round.bad.label.inline_button Inactive
        -unless @person.active?
          %p
            %strong Last Day Worked:
            = (Date.today - 42.days).strftime '%m/%d/%Y'
          %p
            %strong Termination Date:
            = (Date.today - 41.days).strftime '%m/%d/%Y'
        %p
          %strong Hire Date:
          = (Date.today - 73.days).strftime '%m/%d/%Y'
        %p
          %strong First Shift:
          = (Date.today - 70.days).strftime '%m/%d/%Y'
        - if @person.supervisor
          %p
            %strong Supervisor:
            = link_to @person.supervisor.display_name, @person.supervisor
        %p
          %strong Email:
          = mail_to @person.email
        - if @person.personal_email
          %p
            %strong Personal Email:
            = mail_to @person.personal_email
        - if @person.mobile_phone.present?
          %p
            %strong Mobile Phone:
            = phone_link @person.mobile_phone, nil
        - if @person.office_phone.present?
          %p
            %strong Office Phone:
            = phone_link @person.office_phone, nil
        - if @person.home_phone.present?
          %p
            %strong Home Phone:
            = phone_link @person.home_phone, nil

    .widget.large-4.medium-6.columns
      .inner
        %h3 Bio
        - if @person.profile.bio
          %p= @person.profile.bio.gsub(/\n/, '<br/>').html_safe
        - else
          %p
            %em
              = @person.display_name
              has not added a bio :-(

  .row.full-width
    .widget.large-4.medium-6.columns
      .inner
        %h3 Education
        %strong Test Degree
        %p Random field of study
        %strong Test College
        %em 2003 to 2007
        %p Activities and Societies
        %p Description
    .widget.large-4.medium-6.columns
      .inner
        %h3 Experience
        %strong Title
        %strong Fake Title
        %em 2003 - 2007
        %em St Pete, FL
        %p description
        %h3 Experience 2
        %strong Title 2
        %strong Fake Title 2
        %em 2003 - 2008
        %em St Pete, FL
        %p description 2
    .widget.large-4.medium-6.columns
      .inner
        %h3 Skills
        %p Skill 1
        %p Skill 2
        %p Skill 3





  .row.full-width
    .large-4.columns.widget
      .inner
        %h3 Recent Wall Posts
        .neutral.padded.full-width
          Testing testing 123
          %span.comment.right.vertical_space
            In "Test Group" on 8/18/2014
    .large-4.columns.widget
    .large-4.columns.widget
