- title @person.display_name
%ul.breadcrumbs
  - for area in @person.areas
    %li= link_to area.project.client.name, area.project.client
    %li= link_to area.project.name, client_project_path(area.project.client, area.project)
    - for parent_area in area.path
      %li= area_link(parent_area)
.widgets.row.full-width
  .row.full-width
    .large-4.columns.widget
      .inner
        %h3 Basic Information
        .comment.bottom_spacing
          = @person.position.name
          - if @person.active?
            %span.comment.small.round.ok.label.inline_button Active
          - else
            %span.comment.small.round.bad.label.inline_button Inactive
        -unless @person.active?
          %p
            %strong Last Day Worked:
            = (Date.today - 42.days).strftime '%m/%d/%Y'
          %p
            %strong Termination Date:
            = (Date.today - 41.days).strftime '%m/%d/%Y'
        %p
          %strong Hire Date:
          = (Date.today - 73.days).strftime '%m/%d/%Y'
        %p
          %strong First Shift:
          = (Date.today - 70.days).strftime '%m/%d/%Y'
        - if @person.supervisor
          %p
            %strong Supervisor:
            = link_to @person.supervisor.display_name, @person.supervisor
        %p
          %strong Email:
          = mail_to @person.email
        - if @person.personal_email
          %p
            %strong Personal Email:
            = mail_to @person.personal_email
        - if @person.mobile_phone
          %p
            %strong Mobile Phone:
            = phone_link @person.mobile_phone, nil
        - if @person.office_phone
          %p
            %strong Office Phone:
            = phone_link @person.office_phone, nil
        - if @person.home_phone
          %p
            %strong Home Phone:
            = phone_link @person.home_phone, nil
        %p
          %strong Address:
          %br/
          123 Wallaby Way
          %br/
          St Pete, FL 33701
    %span#alerts_widget
    %span#tickets_widget
  .row.full-width
    %span#hpschart
    %span#saleschart
    %span#hourschart
  .row.full-width
    %span#pnlchart
    %span#gift_cards_widget
    %span#inventory_widget
  .row.full-width
    %span#assets_widget
    .large-4.columns
    .large-4.columns

.large-4.columns
- if @creator_tickets.count > 0
  .tickets.widget
    .inner
      %h2 Support Ticket History
      - ticket_count = 0
      - for ticket in @creator_tickets
        - ticket_count = ticket_count + 1
        .large-4.columns
          .neutral.rounded.full-width.padded.vertical_space
            %p
              %strong
                = NameCase(ticket['ticket']['title'])
                = surround '(#', ')' do
                  = ticket['ticket']['id']
            %p
              - description = ticket['ticket']['description'].split[0..25].join(' ').html_safe
              - if description != ticket['ticket']['description'].split.join(' ')
                - description = description + '...' + content_tag(:em, '(more)')
              = description
            %span.small.comment.right.vertical_space
              Last Changed
              - updated = Time.strptime ticket['ticket']['updated_on'], '%Y-%m-%dT%H:%M:%SZ'
              = updated.strftime '%m/%d/%Y %-l:%M%P'
      .vertical_space

.row.full-width
  .large-6.columns.widget
    .inner
      %h2 Online Training
      .row.full-width
        .large-3.columns
          %strong 7 Steps to Yes!
        .large-9.columns
          .progress.radius.round.success
            %span.meter(style="width: 100%")
      .vertical_space
      .row.full-width
        .large-3.columns
          %strong Vonage New Hire Training
        .large-9.columns
          .progress.radius.round.incomplete
            %span.meter(style="width: 75%")
      .vertical_space
      .row.full-width
        .large-3.columns
          %strong Vonage - Process &amp; Procedures
        .large-9.columns
          .progress.radius.round.alert
            %span.meter(style="width: 1%")
  .large-6.columns.widget
    .inner
      %h2 Video Training
      .ok.rounded.full-width.padded
        %p
          %strong
            Video Training 1
        %p
          "Great job, very easy to talk to. Will be a great sales rep."
        %span.small.comment.right.vertical_space
          Trained by: Cheri Sauter on 07/01/2014
      .bad.rounded.full-width.padded.vertical_space
        %p
          %strong
            Video Training 2
        %p
          "Did not show up"
        %span.small.comment.right.vertical_space
          Trained by: Cheri Sauter on 07/03/2014
.row.full-width
  .large-4.columns.widget
    .inner
      %h2 Paperwork History
      .ok.rounded.full-width.padded
        %strong New Hire Paperwork
        %span.small.comment.right
          Completed on 06/31/2014
      .bad.rounded.full-width.padded.vertical_space
        %strong Counseling Verification Form
        .vertical_space
        %em Not signed by Employee
        %span.small.comment.right
          Last updated on 07/13/2014
  .large-4.columns.widget
    .inner
      %h2 Shipping History
      .row.full-width
        .large-3.columns
          %strong Samsung GalaxyTab 3
        .large-9.columns
          .progress.radius.round.success
            %span.meter(style="width: 100%")
          .small.comment.right.right_text_aligned Delivered on: 07/03/2014
      .vertical_space
      .row.full-width
        .large-3.columns
          %strong Supplies
        .large-9.columns
          .progress.radius.round.incomplete
            %span.meter(style="width: 50%")
          .small.comment.right.right_text_aligned At destination sort Facility (Lubbock,TX), as of 07/14/2014
  .large-4.columns.widget
    .inner
      %h2 Employee Notes
      .neutral.rounded.padded.full-width
        Employee called about pay period date 6/01-6/15, issue was resolved over phone
        %span.comment.right.right_text_aligned.vertical_space Added by Alice Daly on 07/12/2014 at 3:45pm
      .vertical_space
      .neutral.rounded.padded.full-width
        Natalia could not connect to her training class via ClearSea, and called the IT Hotline. Issue was resolved, has been instructed to reschedule
        %span.comment.right.right_text_aligned.vertical_space Added by David Korb on 07/03/2014 at 11:59am

:javascript
  $(function () {

    $.get("/widgets/sales/people/692", function (data) { //TODO: Make sales chart show individual person
      $("#saleschart").append(data);
    });

    $.get("/widgets/hours/people/692", function (data) { //TODO: Make hours chart show individual person
      $("#hourschart").append(data);
    });

    $.get("/widgets/alerts/people/692", function (data) { //TODO: Make alerts show individual person
      $("#alerts_widget").append(data);
    });

    $.get("/widgets/tickets/people/692", function (data) { //TODO: Make tickets show individual person
      $("#tickets_widget").append(data);
    });

    $.get("/widgets/gift_cards/people/692", function (data) { //TODO: Make gift cards show individual person
      $("#gift_cards_widget").append(data);
    });

    $.get("/widgets/inventory/people/692", function (data) { //TODO: Make inventory show individual person
      $("#inventory_widget").append(data);
    });

    $.get("/widgets/pnl/people/692", function (data) { //TODO: Make pnl show individual person
      $("#pnlchart").append(data);
    });

    $.get("/widgets/hps/people/692", function (data) { //TODO: Make hps show individual person
      $("#hpschart").append(data);
    });

    $.get("/widgets/assets/people/3", function (data) { //TODO: Make assets show individual person
      $("#assets_widget").append(data);
    });
  });