- title "Terminate #{@person.name}"


.widget
  .inner
    = form_tag "/people/#{@person.id}/send_nos", method: :post do
      .large-6.columns
        = label_tag :termination_date
        = text_field_tag :termination_date, nil, placeholder: "Use MM/DD/YYYY or terms like 'today', 'yesterday', 'next monday' etc"
        = label_tag :last_day_worked
        = text_field_tag :last_day_worked, nil, placeholder:  "Use MM/DD/YYYY or terms like 'today', 'yesterday', 'next monday' etc"
      .large-6.columns
        = label_tag :eligible_for_rehire
        = select_tag :eligible_for_rehire, options_for_select([['Yes', true],['No', false]]), include_blank: true
        = label_tag :separation_reason
        = select_tag :separation_reason, options_from_collection_for_select(EmploymentEndReason.all, :id, :name), include_blank: true
      = label_tag :remarks
      = text_area_tag :remarks
      = submit_tag 'Send NOS', class: [:button]