= render partial: 'shared/errors', locals: { object: profile_education }
= form_for [profile_education.profile, profile_education] do |f|
  = f.label :school
  = f.text_field :school
  = f.label :degree
  = f.text_field :degree
  = f.label :field_of_study
  = f.text_field :field_of_study
  = f.label :start_year
  = f.number_field :start_year
  = f.label :end_year
  = f.number_field :end_year
  = f.label :activities_societies, 'Activities and Societies'
  = f.text_area :activities_societies
  = f.label :description
  = f.text_area :description
  = f.hidden_field :profile_id
  = f.submit 'Save', class: 'button'