- title 'Add Devices'


= form_tag devices_path, method: :post do
  = label_tag 'contract_end_date', 'Contract End Date'
  = text_field_tag 'contract_end_date', nil, placeholder: 'mm/dd/yyyy', class: 'datepicker'
  = label_tag 'device_model_id', 'Device Model'
  = select_tag 'device_model_id', options_from_collection_for_select(@device_models, 'id', 'model_name'), prompt: 'Select A Device Model'
  = label_tag 'technology_service_provider_id', 'Service Provider'
  = select_tag 'technology_service_provider_id', options_from_collection_for_select(@service_providers, 'id', 'name'), prompt: 'Select a Service Provider'
  = label_tag 'serial'
  = text_field_tag 'serial'
  = label_tag 'line_identifier', 'Line ID'
  = text_field_tag 'line_identifier'
  = submit_tag 'Receive'