= form_for @report_query do |f|
  - if @report_query.errors.any?
    - @report_query.errors.full_messages.each do |msg|
      .alert.alert-box= msg
  = f.label :name, 'Report name'
  = f.text_field :name
  = f.label :category_name, 'Category'
  = f.text_field :category_name
  = f.label :database_name
  = f.text_field :database_name
  = f.label :query
  = f.text_area :query, rows: 20
  - unless @report_query.persisted?
    = f.label :permission_key
    = f.text_field :permission_key
  = f.submit 'Save', class: [:button]