- from_person = @sms_message.from_person
- from_candidate = @sms_message.from_candidate

= mailer_h1 'New Text Message Thread Started'

%p
  - if from_person
    = link_to from_person.display_name, person_url(from_person)
  - elsif from_candidate
    = link_to from_candidate.name, candidate_url(from_candidate)
  - else
    = phone_link @sms_message.from_num
  has just sent a text message that appears to have started a new thread:
%blockquote
  = @sms_message.message
- if from_person
  = link_to 'Click here to reply.', new_sms_message_person_url(from_person)
- elsif from_candidate
  = link_to 'Click here to reply.', new_sms_message_candidate_url(from_candidate)
- if @last_24_hours
  %h3 Last 24 Hours of Communication
  = render partial: 'shared/communication_log', locals: { communication_log_entries: @last_24_hours, skip_pagination: true }