- from = @sms_message.from_person
%p
  - if from
    = link_to from.display_name, person_url(from)
  - else
    = phone_link @sms_message.from_num
  has just sent an SMS that appears to have started a new thread:
%blockquote
  = @sms_message.message
- if from
  = link_to 'Click here to reply.', new_sms_message_person_url(from)
- if @last_24_hours
  %h3 Last 24 Hours of Communication
  = render partial: 'shared/communication_log', locals: { communication_log_entries: @last_24_hours, skip_pagination: true }