- content_for :action_buttons do
  = link_to icon('plus') + ' New Manufacturer', '#', class: [:button, :rounded, :inline_button], id: 'new_action_button'

.widget
  .inner
    = form_for @device_model, method: :post do |f|
      = f.label :device_manufacturer, 'Existing Manufacturer'
      = f.select('device_manufacturer_id', options_from_collection_for_select(DeviceManufacturer.all, 'id', 'name'))
      = f.label :name, 'New Model'
      = f.text_field :name
      = f.submit 'Submit', class: 'button'