- title 'SalesMakers Support Dashboard'
- content_for :action_buttons do
  = button_to 'Post Roll Call', '#', class: [:button, :inline_button]
  = button_to 'Post Check In', '#', class: [:button, :inline_button]
  = button_to 'Post Mid Day', '#', class: [:button, :inline_button]
  = button_to 'Post Check Out', '#', class: [:button, :inline_button]

.row.full-width
  = form_tag sms_daily_checks_path, method: :get do
    .large-11.medium-9.small-9.columns
      = label_tag 'select_team', 'Select Teams(s): (Hold Shift or CTRL to select multiple)'
      = select_tag 'select_team', options_from_collection_for_select(@available_teams, 'id', 'name', @team), multiple: true, size: 5
    .large-1.medium-3.small-3.columns
      = submit_tag 'View', class: [:button, :full_width]

.widget
  .inner
    - if @team
      .table
        .tableheader
          .tablerow
            .tablecell Employee
            .tablecell In Time
            .tablecell Out Time
            .tablecell Check In
            .tablecell Check Out
            .tablecell Save
            :css
              @media only screen and (max-width: 800px) {
                .tablebody .tablecell:nth-of-type(1):before {
                  content: "Employee";
                }
                .tablebody .tablecell:nth-of-type(2):before {
                  content: "In Time";
                }
                .tablebody .tablecell:nth-of-type(3):before {
                  content: "Out Time";
                }
                .tablebody .tablecell:nth-of-type(4):before {
                  content: "Check In";
                }
                .tablebody .tablecell:nth-of-type(5):before {
                  content: "Check Out";
                }
                .tablebody .tablecell:nth-of-type(6):before {
                  content: "Save";
                }
              }
        .tablebody
          - for @employee in @people
            - check = SMSDailyCheck.where('person_id = ? and date = ?', @employee.id, Date.today)
            - @check = check.first
            = form_tag update_sms_daily_check_path(@check), method: :put, class: [:sms_check, :tablerow, :togglerow] do
              .tablecell
                = person_link @employee
                .employee_off_area
                  - if @check and @check.off_day
                    %br
                    %strong EMPLOYEE OFF
              = hidden_field_tag :person_id, @employee.id
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .tablecell
                = select_tag :in_time, options_for_select(@times.collect{ |x| x.strftime('%l:%M%P')}, (@check.in_time.strftime('%l:%M%P') if @check and @check.off_day == false)), include_blank: true
              .tablecell
                = select_tag :out_time, options_for_select(@times.collect{ |x| x.strftime('%l:%M%P')}, (@check.out_time.strftime('%l:%M%P') if @check and @check.off_day == false)), include_blank: true
              .tablecell
                = check_box_tag :check_in_on_time, nil, (@check.check_in_on_time if @check and @check.off_day == false)
                = label_tag :check_in_on_time, 'Clocked in on time?'
                %br
                = check_box_tag :check_in_uniform, nil, (@check.check_in_uniform if @check and @check.off_day == false)
                = label_tag :check_in_uniform, 'In Uniform?'
                %br
                = check_box_tag :check_in_inside_store, nil, (@check.check_in_inside_store if @check and @check.off_day == false)
                = label_tag :check_in_inside_store, 'Inside Store?'
              .tablecell
                = check_box_tag :check_out_on_time, nil, (@check.check_out_on_time if @check and @check.off_day == false)
                = label_tag :check_out_on_time, 'Clocked out on time?'
                %br
                = check_box_tag :check_out_inside_store, nil, (@check.check_out_inside_store if @check and @check.off_day == false)
                = label_tag :check_out_on_time, 'Inside Store?'
              .tablecell.save_area
                = submit_tag 'Save', class: [:button, :save_button ]
                %br
                = submit_tag 'Employee Off', class: [:button, :off_button]
    - else
      No active employees on this team

