- title 'SalesMakers Support Dashboard'

.row.full-width
  = form_tag sms_daily_checks_path, method: :get do
    .large-11.medium-9.small-9.columns
      = select_tag 'select_team', options_from_collection_for_select(@available_teams, 'id', 'name', @team), include_blank: 'Select a Team'
    .large-1.medium-3.small-3.columns
      = submit_tag 'View', class: [:button, 'full-width']

.widget
  .inner
    - if @team
      - headers = header_row(['Name', 'In Time', 'Out Time', 'Check In', 'Check Out', 'Save/Off'])
      - @rows = []
      - for @employee in @people
        - @check = SMSDailyCheck.where('person_id = ? and date = ?', @employee.id, Date.today)
        - if @check.present?
          = render 'existing_check'
        - else
          = render 'new_check'
      = table headers, @rows
    - else
      No active employees on this team

