%nav.tab-bar.show-for-medium-down{ data: { topbar: '' } }
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.title SalesCenter
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Menu
    -if ComcastCustomerPolicy.new(current_person, ComcastCustomer.new).create?
      %li= link_to 'New Customer', new_comcast_customer_path
      %li= link_to 'My Customers', comcast_customers_path
    -#%li= link_to 'End Of Day', new_comcast_eod_path
    -else
      %li
        = link_to 'Home', root_path
  %ul.off-canvas-list
    %li
      %label People
    %li
      = link_to 'Search', people_path
    %li
      = link_to 'Org Chart', org_chart_people_path
  -# YES. THIS IS DIRTY. But, only IT people need access anyways
  -if DevicePolicy.new(current_person, Device.new).index?
    %ul.off-canvas-list
      - for project in visible_projects
        %li
          %label= project.name
        %li
          = link_to 'Sales', sales_client_project_path(project.client, project)
        - if AreaTypePolicy.new(current_person, AreaType.new).index?
          %li
            = link_to 'Area Types', client_project_area_types_path(project.client, project)
        %li
          = link_to 'Areas', client_project_areas_path(project.client, project)
      - admin_links = Array.new
      - admin_links << link_to(icon('laptop') + ' Devices', devices_path)
      - admin_links << link_to(icon('telephone') + ' Lines', lines_path)
      - admin_links << link_to('Device Models', device_models_path)
      - admin_links << link_to(icon('list') + ' Log', lines_path)
      - admin_links << link_to(icon('torsos-all') + ' Org Chart', org_chart_people_path)
      - admin_links << link_to(icon('torsos-all') + ' People', people_path)
      %ul.off-canvas-list
        %li
          %label Administration
        - for admin_link in admin_links do
          %li= admin_link
  %ul.off-canvas-list
    %li
      %label= current_person.email
    %li
      = link_to icon('x') + ' Sign Out', logout_path