%nav.tab-bar.show-for-medium-down{ data: { topbar: '' } }
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.title SalesCenter
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Menu
    -if ComcastCustomerPolicy.new(current_person, ComcastCustomer.new).create?
      %li= link_to 'New Customer', new_comcast_customer_path
      %li= link_to 'My Customers', comcast_customers_path
      %li= link_to 'End Of Day', new_comcast_eod_path
    -else
      %li
        = link_to 'Home', root_path
    - group_count = GroupMeGroupPolicy::Scope.new(current_person, GroupMeGroup.all).resolve.count
    - if group_count > 0
      %li= link_to 'GroupMe Post', new_post_group_me_groups_path
  - candidate_policy = CandidatePolicy.new(current_person, Candidate.new)
  - if candidate_policy.index? or candidate_policy.create?
    %ul.off-canvas-list
      %li
        %label Candidates
      - if candidate_policy.index?
        %li
          = link_to 'Candidates List', candidates_path
      - if candidate_policy.create?
        %li
          = link_to 'New Candidate', new_candidate_path
  %ul.off-canvas-list
    %li
      %label People
    %li
      = link_to 'Search', people_path
    %li
      = link_to 'Org Chart', org_chart_people_path
  - comcast_lead_policy = ComcastLeadPolicy.new(current_person, ComcastLead.new)
  - comcast_sale_policy = ComcastSalePolicy.new(current_person, ComcastSale.new)
  - if comcast_lead_policy.index? || comcast_sale_policy.index?
    %ul.off-canvas-list
      %li
        %label Comcast Retail
      - if comcast_lead_policy.index?
        %li
          = link_to 'Comcast Leads', comcast_leads_path
      - if comcast_sale_policy.index?
        %li
          = link_to 'Comcast Sales', comcast_sales_path
  -if DevicePolicy.new(current_person, Device.new).index?
    %ul.off-canvas-list
      - for project in visible_projects
        %li
          %label= project.name + ' Admin'
        - if AreaTypePolicy.new(current_person, AreaType.new).index?
          %li
            = link_to 'Area Types', client_project_area_types_path(project.client, project)
        %li
          = link_to 'Areas', client_project_areas_path(project.client, project)
      - admin_links = Array.new
      - admin_links << link_to(icon('laptop') + ' Devices', devices_path)
      - admin_links << link_to(icon('telephone') + ' Lines', lines_path)
      - admin_links << link_to('Device Models', device_models_path)
      - admin_links << link_to(icon('list') + ' Log', lines_path)
      - admin_links << link_to(icon('torsos-all') + ' Org Chart', org_chart_people_path)
      - admin_links << link_to(icon('torsos-all') + ' People', people_path)
      %ul.off-canvas-list
        %li
          %label Administration
        - for admin_link in admin_links do
          %li= admin_link
  %ul.off-canvas-list
    %li
      %label= current_person.email
    %li
      = link_to icon('x') + ' Sign Out', logout_path