- w = defined?(width) ? width : 12
- if object.is_a? Project
  - l = sales_client_project_path object.client, object
- elsif object.is_a? Client
  - l = sales_client_path object
- elsif object.is_a? Person
  - l = sales_person_path object
- elsif object.is_a? Area
  - l = sales_client_project_area_path object.project.client, object.project, object
- else
  l = ''
.widget{ class: 'grid-' + w.to_s }
  .inner
    .row.full-width
      - if w < 12
        .large-3.columns
          %div(style="vertical-align: middle; margin-top: 0.25em; margin-bottom: 0.25em")
            %strong= object.name + ':'
      %div{ class: (w < 12) ? 'large-9 columns' : '' }
        - if w == 12
          %strong Sales:
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.today.sum(:sales)
          today
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.yesterday.sum(:sales)
          yesterday
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.this_week.sum(:sales)
          this week
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.last_week.sum(:sales)
          last week
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.this_month.sum(:sales)
          this month
        %a.button.secondary.radius.sale_badge{ href: l }
          %strong= object.day_sales_counts.last_month.sum(:sales)
          last month