= javascript_include_tag 'vendor/jquery', 'data-turbolinks-track' => true
= javascript_include_tag 'foundation.min', 'data-turbolinks-track' => true
= javascript_include_tag 'masonry.min', 'data-turbolinks-track' => true
= javascript_include_tag 'https://www.google.com/jsapi', 'data-turbolinks-track' => true
= javascript_include_tag 'chartkick', 'data-turbolinks-track' => true