.sticky.fixed
  %nav.top-bar.contain-to-grid.hide-for-medium-down{ data: { topbar: "" } }
    %ul.title-area
      %li
        %a= link_to image_tag('logo_nav.png', id: 'joyride-logo'), root_path
    %section.top-bar-section
      .right
        %ul.left
          %li.has-dropdown#joyride-projects
            = link_to icon('clipboard-notes') + ' Projects', '#'
            %ul.dropdown
              - for project in visible_projects
                - next unless project.areas.count > 0
                %li.has-dropdown
                  = link_to project.name, client_project_path(project.client, project)
                  %ul.dropdown
                    %li= link_to 'Sales', sales_client_project_path(project.client, project)
                    %li.has-dropdown
                      %a{ href: "#" } Areas &amp; Locations
                      %ul.dropdown
                        - if AreaTypePolicy.new(current_person, AreaType.new).index?
                          %li
                            = link_to 'Area Types', client_project_area_types_path(project.client, project)
                        %li
                          = link_to 'Areas', client_project_areas_path(project.client, project)

          %li.has-dropdown#joyride-people
            = link_to icon('torsos-all') + ' People', people_path
            %ul.dropdown
              %li= link_to 'Search', people_path
              %li= link_to 'Org Chart', org_chart_people_path
          %li.has-dropdown
            = link_to 'Admin', '#'
            %ul.dropdown
              %li= link_to('Devices', devices_path)
              %li= link_to('Lines', lines_path)
              %li= link_to('Device Models', device_models_path)
              %li.divider
              %li= link_to('Log', log_entries_path)

          %li.has-dropdown#joyride-profile
            = link_to current_person.email, person_path(current_person)
            %ul.dropdown
              %li
                = link_to icon('torso') + ' My Profile', about_person_path(current_person)
              %li
                = link_to icon('x') + ' Sign Out', logout_path
- if @staging
  .staging_warning
    %h3 You are on our feature-testing server.
    %p Your changes will not be saved.