%nav.top-bar.contain-to-grid.sticky{ data: { topbar: "" } }
  %ul.title-area
    %li
      %a= link_to image_tag('logo_nav.png'), root_path
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu
  %section.top-bar-section
    /LEFT NAV
    %ul.left
      %li
        = link_to icon('home'), root_path
      %li.has-dropdown
        = link_to 'Projects', '#'
        %ul.dropdown
          - for project in @projects
            %li.has-dropdown
              = link_to project.name, '#'
              %ul.dropdown
                %li
                  %a{ href: "#" } Sales Entry
                %li.has-dropdown
                  %a{ href: "#" } Areas &amp; Locations
                  %ul.dropdown
                    %li
                      = link_to 'Area Types', client_project_area_types_path(project.client, project)
                    %li
                      = link_to 'Areas', client_project_areas_path(project.client, project)
                    %li.has-dropdown
                      %a{ href: "#" } Channels
                      %ul.dropdown
                        %li
                          %a{ href: "#" } Walmart
                        %li
                          %a{ href: "#" } Brandsmart
                        %li.divider
                        %li
                          %a{ href: "#" } Add Channel
                %li
                  %a{ href: "#" } Gift Cards
                %li
                  %a{ href: "#" } Job Titles
    /RIGHT NAV
    %ul.right
      %li
        = link_to icon('torso-business') + ' Clients', clients_path
      %li
        %a= link_to icon('torsos') + ' People', people_path
      %li
        = link_to icon('clipboard-pencil') + ' Training', '#'
      %li.has-dropdown
        = link_to icon('tablet-portrait') + ' Assets', devices_path
        %ul.dropdown
          %li
            = link_to 'Devices', devices_path
          %li
            = link_to 'Lines', lines_path
      %li
        = link_to icon('graph-bar') + ' Reports', reports_path
      %li.divider
      %li.has-dropdown
        %a{ href: "#" }= current_user.email
        %ul.dropdown
          %li
            = link_to icon('widget') + ' My Settings', '#'
          %li.divider
          %li
            = link_to icon('x') + ' Sign Out', logout_path
      %li.has-form
        = link_to icon('asterisk') + ' Help', '#', class: 'small button'