- content_for :action_buttons do
  = link_to 'Switch to Dashboard', home_dashboard_path, class: [:button, :tiny, :rounded, :inline_button]

.wall

  .widget.wall_post
    .inner
      %dl#post_tabs.tabs{ data: { tab: '' } }
        %dd.active
          = link_to 'Text', '#text_tab'
        %dd
          = link_to 'Photos', '#photos_tab'
        %dd
          = link_to 'Video', '#video_tab'
      .tabs-content
        #text_tab.content.active
          = form_for @text_post, remote: true, authenticity_token: true do |f|
            = f.text_area :content, placeholder: 'Share with ' + @wall.wallable.name
            = hidden_field_tag 'wall_id', @wall.id
            = f.submit 'Share', class: 'button'
        #photos_tab.content
          = form_for @uploaded_image, remote: true, authenticity_token: true do |f|
            = f.file_field :image
            = f.text_field :caption, placeholder: 'Enter image caption'
            = hidden_field_tag 'wall_id', @wall.id
            = f.submit 'Share', class: 'button'
        #video_tab.content
          = form_for @uploaded_video, remote: true, authenticity_token: true do |f|
            = f.text_field :url, placeholder: 'Link'
            = hidden_field_tag 'wall_id', @wall.id
            = f.submit 'Share', class: 'button'

  - wall_posts = @wall_posts.to_a
  - 2.times do
    - if wall_posts.count > 0
      - wall_post = wall_posts.shift
      = display_post wall_post.publication.publishable
  - for row in wall_posts.each_slice 3 do
    - for wall_post in row do
      = display_post wall_post.publication.publishable