- content_for :action_buttons do
  =# link_to 'Switch to Dashboard', home_dashboard_path, class: [:button,:rounded, :inline_button]
  %span
    .show-for-large-up= link_to icon('refresh') + ' Restart Tour', '#', id: 'start_tour', class: [:button, :inline_button]

- sales_bar_count = 0
- unless @current_person.position and (@current_person.position.hq? or @current_person.position.leadership?)
  .top_widgets= render partial: 'shared/sales_wall_widget', locals: { object: @current_person }
- if @current_person.position and @current_person.position.leadership? and not @current_person.position.hq? and @current_person.person_areas.count > 0
  - for person_area in @current_person.person_areas
    - sales_bar_count += 1 if person_area.manages?
  .top_widgets
    - for person_area in @current_person.person_areas
      = render partial: 'shared/sales_wall_widget', locals: { object: person_area.area, width: 12 / sales_bar_count } if person_area.manages?
- if @current_person.position and @current_person.position.hq?
  - for project in @visible_projects do
    - sales_bar_count += 1 if project.day_sales_counts.count > 0
  .top_widgets
    - for project in @visible_projects do
      - if project.day_sales_counts.count > 0
        = render partial: 'shared/sales_wall_widget', locals: { object: project, width: 12 / sales_bar_count, link: sales_client_project_path(project.client, project) }

.widgets
  = render 'shared/share_form'
  - for poll_question in @poll_questions
    = render poll_question
  = render 'wall_posts/wall_posts'
= paginate @wall_posts

= render 'joyride'