- content_for :action_buttons do
  =# link_to 'Switch to Dashboard', home_dashboard_path, class: [:button,:rounded, :inline_button]
  = link_to icon('refresh') + ' Restart Tour', '#', id: 'start_tour', class: [:button, :inline_button, 'show-for-large-up']

.widgets
  = render 'shared/share_form'

  - counter = 0
  - for wall_post in @wall_posts do
    - counter += 1
    - if counter == 1
      = display_post wall_post, true
    - else
      = display_post wall_post
= paginate @wall_posts