= render partial: 'shared/errors', locals: { object: @profile_experience }
= form_for [@profile_experience.profile, @profile_experience] do |f|
  = f.label :title
  = f.text_field :title
  = f.label :company_name
  = f.text_field :company_name
  = f.label :started #TODO: Edit Date_Selects
  = f.date_select :started, { start_year: Date.today.year - 100,
                              end_year: Date.today.year,
                              discard_day: true,
                              order: [:month, :year],
                              with_css_classes: true  } #TODO: Style the selectors with "year", "month" CSS classes
  %div
    = f.check_box :currently_employed
    %strong Currently employed here?
  #ended
    = f.label :ended
    = f.date_select :ended, { start_year: Date.today.year - 100,
                              end_year: Date.today.year,
                              discard_day: true,
                              order: [:month, :year],
                              with_css_classes: true  } #TODO: Style the selectors with "year", "month" CSS classes
  = f.label :location
  = f.text_field :location
  = f.label :description
  = f.text_area :description
  = f.hidden_field :profile_id
  = f.submit 'Save', class: 'button'
:javascript
  $(function(){
    $('#profile_experience_currently_employed').change(function(){
      if(this.checked) {
        $('#ended').hide();
      } else {
        $('#ended').show();
      }
    });
  });