%h3
  Image Gallery
  %span.small.comment Uploaded Today
= image_tag 'image_gallery_mock/image1.jpeg'
= image_tag 'image_gallery_mock/image2.png'
= image_tag 'image_gallery_mock/image3.jpeg'
= image_tag 'image_gallery_mock/image4.jpeg'
= image_tag 'image_gallery_mock/image5.jpeg'