%h3 Inventory
%p
  %strong On Hand:
  = link_to '23', '#'
%p
  %strong On Order:
  = link_to '52', '#'
%p
  %strong In Transit:
  = link_to '10', '#'
%p
  %strong Not Received:
  = link_to '17', '#'
%p
  %strong Employees without Inventory
  = link_to '2', '#'

