- title @vonage_sale.mac

.widgets
  .widget
    .inner
      %h3 Sale Information
      %p
        %strong Sale Date:
        = short_date @vonage_sale.sale_date
      %p
        %strong Entered:
        = full_datetime @vonage_sale.created_at.in_time_zone
      - if @vonage_sale.creator
        %p
          %strong Entered by:
          = person_link @vonage_sale.creator
      %p
        %strong Seller:
        = person_link @vonage_sale.person
      %p
        %strong Location:
        = location_link @project, @vonage_sale.location
      %p
        %strong Customer:
        = NameCase([@vonage_sale.customer_first_name, @vonage_sale.customer_last_name].join(' '))
      %p
        %strong Confirmation Number:
        = @vonage_sale.confirmation_number
      %p
        %strong Product Type:
        = @vonage_sale.vonage_product.name
      %p
        %strong Areas:
        - location_areas = @vonage_sale.location.location_areas.joins(area: :project).where("projects.name = 'Vonage Retail'")
        = location_areas.map { |la| la.area.ancestors.map { |a| a.name.html_safe } << la.area.name.html_safe }.join(", ").html_safe
  .widget
    .inner
      %h3 Vonage Account Information
      - changes = @vonage_sale.vonage_account_status_changes.order(:created_at)
      - if changes.empty?
        %p
          %strong Validated?:
          = icon('x')
        %p
          %strong Vested?:
          = icon('x')
      - else
        - if changes.where(status: 'active').empty?
          %p
            %strong Validated?:
            = icon('x')
        - else
          %p
            %strong Validated?:
            = icon('check')
        %p
          %strong Vested?:
          = @vonage_sale.vested? ? icon('check') : icon('x')
        %h5 Account History
        - for change in changes do
          .account_status_change.small
            - if change.active?
              Reported as
              %strong Active
              with an account start date of
              = short_date change.account_start_date
            - if change.grace?
              Reported as having gone into
              %strong Grace
              status
            - if change.suspended?
              Reported as having been
              %strong Suspended
            - if change.terminated?
              Reported as
              %strong Terminated
              with reason
              = surround('&quot;'.html_safe, '&quot;'.html_safe) do
                = change.termination_reason
              and an account end date of
              = short_date change.account_end_date
            on
            = full_datetime change.created_at
  - if @walmart_gift_card
    .widget
      .inner
        %h3 Gift Card Details
        %p
          %strong Gift Card Number:
          = @walmart_gift_card.card_number.insert(4, '-').insert(9, '-').insert(14, '-')
        %p
          %strong Balance:
          = number_to_currency @walmart_gift_card.balance
        %p
          %strong Purchase Date:
          = short_date @walmart_gift_card.purchase_date
        %p
          %strong Purchase Amount:
          = number_to_currency @walmart_gift_card.purchase_amount
        %p
          %strong Purchase Store #:
          = @walmart_gift_card.store_number
        = link_to 'View Gift Card Page', @walmart_gift_card.link.sub('https://getegiftcard.walmart.com/gift-card/view/', 'http://rbdconnect.com/gc/l/?link='), class: [:button]