- if @candidate.active?
  - unless Candidate.statuses[@candidate.status] >= Candidate.statuses[:onboarded]
    = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
    - if @candidate.status == 'interview_scheduled'
      = link_to 'Reschedule Interview', new_candidate_interview_schedule_path(@candidate), class: [:button, :inline_button], data: { confirm: 'Scheduling another interview for this candidate will remove all previous interviews. Are you sure?' }
  - if @candidate.location_area and @candidate.personality_assessment_status == 'incomplete'
    - unless @candidate.location_area.outsourced?
      = link_to 'Resend Assessment', resend_assessment_candidate_path(@candidate), class: [:button, :inline_button]
  - if @candidate.welcome_call?
    = link_to 'Welcome Call', new_candidate_sprint_pre_training_welcome_call_path(@candidate), class: [:button, :inline_button]
  - if @candidate.location_area
    - client = @candidate.location_area.area.project.client
    - project = @candidate.location_area.area.project
    - location = @candidate.location_area.location
    = link_to 'Candidate Location', client_project_location_path(client, project, location), class: [:button, :inline_button]
- else
  - unless @candidate.person and @candidate.person.active == false
    = button_to 'Reactivate Candidate', reactivate_candidate_path(@candidate), data: { confirm: 'This will re-activate the candidate. Are you sure?' }, method: :patch, class: [:button, :inline_button]
- if @candidate.person
  = link_to 'Person Profile', person_path(@candidate.person), class: [:button, :inline_button]
= link_to 'Attach File', new_attachment_path(@candidate.id, @candidate.class.name), class: [:button, :inline_button]