- if @candidate.errors.any?
  - @candidate.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for @candidate do |f|
      = f.label :first_name
      = f.text_field :first_name
      = f.label :last_name
      = f.text_field :last_name
      = f.label :suffix
      = f.select :suffix, @suffixes.map { |value| [value, value]}, include_blank: true
      = f.label :mobile_phone
      = f.text_field :mobile_phone
      = f.label :email, 'Email address'
      = f.text_field :email
      = f.label :zip, 'Zip Code'
      = f.text_field :zip
      - if @projects
        - projects = options_from_collection_for_select(@projects, 'id', 'name', (cookies[:candidate_project_select] if cookies[:candidate_project_select]))
      - else
        - projects = ''
      = f.label :project_id, 'Project recruited for'
      = f.select :project_id, projects
      - if @sources
        - sources = options_from_collection_for_select(@sources, 'id', 'name', (cookies[:candidate_source_selection] if cookies[:candidate_source_selection]))
      - else
        - sources = ''
      = f.label :candidate_source_id, 'Candidate source'
      = f.select :candidate_source_id, sources
      = f.submit 'Save and start Prescreen', class: :button
