- answers = @candidate.interview_answers.last
.widget
  .inner
    %h3 Candidate Interview Answers
    %p
      %strong Work History:
      = answers.work_history
    %p
      %strong What Interests Candidate:
      = answers.what_interests_you
    %p
      %strong First Thing Sold:
      = answers.first_thing_you_sold
    %p
      %strong First Working Relationship:
      = answers.first_building_of_working_relationship
    %p
      %strong First Rely On Teaching:
      = answers.first_rely_on_teaching
    %p
      %strong Willingness:
      = answers.willingness_characteristic
    %p
      %strong Personality:
      = answers.personality_characteristic
    %p
      %strong Self Motivated:
      = answers.self_motivated_characteristic
    %p
      %strong Pay Rate Sought:
      = answers.compensation_seeking
    %p
      %strong Can Work Flexible Hours and 20-30 Hours Per Week:
      = answers.hours_looking_to_work ? 'Yes' : 'No'