.widget
  .inner
    %h3 Training Session
    = form_for @sprint_radio_shack_training_session, url: set_sprint_radio_shack_training_session_candidate_path(@candidate), method: :put do |f|
      - selected_id = @sprint_radio_shack_training_session ? @sprint_radio_shack_training_session.id : nil
      = f.label :id, 'Session'
      = f.select :id, options_from_collection_for_select(@sprint_radio_shack_training_sessions, :id, :name, selected_id), include_blank: true
      = f.submit 'Save', class: [:button]
.widget#training_status
  .inner
    %h3 Training Status
    = form_tag "/candidates/#{@candidate.id}/set_training_session_status", method: :put do
      = label_tag :training_session_status, 'Status'
      = select_tag :training_session_status,  options_for_select(Candidate.training_session_statuses.map{|s| [NameCase(s[0].humanize), s[0]]}, @candidate.training_session_status)
      = submit_tag 'Save', class: [:button]