- title 'Active Candidate States'

- content_for :action_buttons do
  .label.inline_button
    %strong
      = Candidate.count
    All Time

- date_start = @datetime_start.to_date.strftime('%m/%d')
- date_end = @datetime_end.to_date.strftime('%m/%d')

.widgets#candidate_dashboard
  .widget#entered
    .inner
      %h3 Entered
      .row.full-width
        .large-6.columns
          .range_count.sm_green= @entered_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_green= @entered_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#prescreened
    .inner
      %h3 Prescreened
      .row.full-width
        .large-6.columns
          .range_count.sm_red= @prescreened_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_red= @prescreened_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#interview_scheduled
    .inner
      %h3 Interview Scheduled
      .row.full-width
        .large-6.columns
          .range_count.sm_green= @interview_scheduled_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_green= @interview_scheduled_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#accepted
    .inner
      %h3 Accepted
      .row.full-width
        .large-6.columns
          .range_count.sm_red= @accepted_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_red= @accepted_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#paperwork_sent
    .inner
      %h3 Paperwork Sent
      .row.full-width
        .large-6.columns
          .range_count.sm_red= @paperwork_sent_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_red= @paperwork_sent_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#paperwork_completed_by_candidate
    .inner
      %h3 Paperwork Completed by Candidate
      .row.full-width
        .large-6.columns
          .range_count.sm_red= @paperwork_completed_by_candidate_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_red= @paperwork_completed_by_candidate_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#paperwork_completed_by_advocate
    .inner
      %h3 Paperwork Completed by Advocate
      .row.full-width
        .large-6.columns
          .range_count.sm_green= @paperwork_completed_by_advocate_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_green= @paperwork_completed_by_advocate_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#paperwork_completed_by_hr
    .inner
      %h3 Paperwork Completed by HR
      .row.full-width
        .large-6.columns
          .range_count.sm_green= @paperwork_completed_by_hr_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_green= @paperwork_completed_by_hr_total.count
          .small.centered_text.vertical_space
            Active in Status
  .widget#onboarded
    .inner
      %h3 Onboarded
      .row.full-width
        .large-6.columns
          .range_count.sm_green= @onboarded_range.count
          .small.centered_text.vertical_space
            = date_start
            \-
            = date_end
        .large-6.columns
          .total_count.sm_green= @onboarded_total.count
          .small.centered_text.vertical_space
            Active in Status

:javascript
  setTimeout(function() {
    location = '';
  }, 10000);