- title "Select Location for #{@candidate.name}"
- content_for :action_buttons do
  - if @candidate.active?
    = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
    -#= link_to 'Dismiss Candidate for Schedule Reason', new_candidate_candidate_scheduling_dismissal_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]

:javascript
  var markers = [];
  markers.push({
    "lat": #{html_escape(@candidate.latitude)},
    "lng": #{html_escape(@candidate.longitude)},
    "infowindow": "#{html_escape(@candidate.zip)} (Home)"
  });

.widget
  .inner
    %h3 Nearby Locations
    %p
      Listed below are the nearest locations to the candidate.
    %p.row.full-width
      = search_form_for @search, url: select_location_candidate_path(@candidate, @back_to_confirm.to_s) do |f|
        - projects = @location_areas.map{|la| [la.area.project.name, la.area.project.id]}.uniq
        = f.select :area_project_id_eq, projects, { include_blank: true }, { class: [:autosize_dropdown] }
        = f.submit 'Filter', class: [:button, :inline_button]
    %p.row.full-width
      = form_for [@candidate, @candidate_availability] do |f|
        %fieldset
          .large-4.columns
            %strong Monday
            = f.check_box :monday_am
            = f.label :monday_am, 'AM'
            = f.check_box :monday_pm
            = f.label :monday_pm, 'PM'
            %br
            %strong Tuesday
            = f.check_box :tuesday_am
            = f.label :tuesday_am, 'AM'
            = f.check_box :tuesday_pm
            = f.label :tuesday_pm, 'PM'
            %br
          .large-4.columns
            %strong Wednesday
            = f.check_box :wednesday_am
            = f.label :wednesday_am, 'AM'
            = f.check_box :wednesday_pm
            = f.label :wednesday_pm, 'PM'
            %br
            %strong Thursday
            = f.check_box :thursday_am
            = f.label :thursday_am, 'AM'
            = f.check_box :thursday_pm
            = f.label :thursday_pm, 'PM'
            %br
          .large-4.columns
            %strong Friday
            = f.check_box :friday_am
            = f.label :friday_am, 'AM'
            = f.check_box :friday_pm
            = f.label :friday_pm, 'PM'
            %br
            %strong Saturday
            = f.check_box :saturday_am
            = f.label :saturday_am, 'AM'
            = f.check_box :saturday_pm
            = f.label :saturday_pm, 'PM'
            %br
            %strong Sunday
            = f.check_box :sunday_am
            = f.label :sunday_am, 'AM'
            = f.check_box :sunday_pm
            = f.label :sunday_pm, 'PM'
          = f.label :comment, 'Additional Comments'
          = f.text_field :comment
          = f.submit 'Save and Dismiss Candidate', class: :button
    = render 'locations_table'
.widget
  .inner
    #locations_map
    - location_count = 0
    - for location_area in @location_areas do
      - next if @candidate.location_area and @candidate.location_area == location_area
      - location = location_area.location
      - target = 0
      - potentials = 0
      - current = 0
      - target = location_area.target_head_count if location_area
      - potentials = location_area.potential_candidate_count if location_area
      - current = location_area.current_head_count if location_area
      - open = target - (current + potentials)
      - location_count += 1
      - distance = location.geographic_distance(@candidate).round(2)
      - info_window = "#{location_count.to_s}. #{location.channel.name}, #{location.display_name}".html_safe
      - info_window += " (##{location.store_number})<br><br>".html_safe
      - info_window += "#{distance} miles<br><br>".html_safe
      - info_window += "#{location.address}<br><br>".html_safe
      - if location_area.hourly_rate
        - info_window += "<strong>Hourly Rate: #{number_to_currency(location_area.hourly_rate)}</strong><br><br>".html_safe
      - info_window += "<strong>Open: #{open}</strong><br><br>".html_safe
      - info_window += link_to 'Choose', set_location_area_candidate_path(@candidate, location_area, @back_to_confirm.to_s)
      :javascript
         markers.push({
          "lat": #{html_escape(location.latitude)},
          "lng": #{html_escape(location.longitude)},
          "picture": {
            "url": "/images/#{location_area.area.project.name.gsub(' ', '').underscore}_logo_32x32.png",
            "width": 32,
            "height": 32
          },
          "infowindow": '#{info_window}'
        });
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {
        styles: mapStyle()
      }, internal: {id: 'locations_map'}}, function () {
        handledMarkers = handler.addMarkers(markers);
        handler.map.centerOn(markers[0]);
        handler.bounds.extendWith(handledMarkers);
        handler.fitMapToBounds();
        // handler.getMap().setZoom(10);
      });
