- title "Select Location for #{@candidate.name}"
- content_for :action_buttons do
  - if @candidate.active?
    = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
    -#= link_to 'Dismiss Candidate for Schedule Reason', new_candidate_candidate_scheduling_dismissal_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]

:javascript
  var markers = [];
  markers.push({
    "lat": #{html_escape(@candidate.latitude)},
    "lng": #{html_escape(@candidate.longitude)},
    "infowindow": "#{html_escape(@candidate.zip)} (Home)"
  });

.widget
  .inner
    %h3 Nearby Locations
    %p
      Listed below are the nearest locations to the candidate.
    %p.row.full-width
      = search_form_for @search, url: select_location_candidate_path(@candidate, @back_to_confirm.to_s) do |f|
        - projects = @location_areas.map{|la| [la.area.project.name, la.area.project.id]}.uniq
        = f.select :area_project_id_eq, projects, { include_blank: true }, { class: [:autosize_dropdown] }
        = f.submit 'Filter', class: [:button, :inline_button]
    %p.row.full-width
      .availability
        = form_for [@candidate, @candidate_availability], method: :post do |f|
          %fieldset
            %legend Candidate Availability
            .large-4.columns
              .large-3.columns
                %strong Monday
              .large-3.columns
                = f.check_box :monday_first
                = f.label :monday_first, '10-2'
              .large-3.columns
                = f.check_box :monday_second
                = f.label :monday_second, '2-6'
              .large-3.columns
                = f.check_box :monday_third
                = f.label :monday_third, '5-9'
              %br
              .large-3.columns
                %strong Tuesday
              .large-3.columns
                = f.check_box :tuesday_first
                = f.label :tuesday_first, '10-2'
              .large-3.columns
                = f.check_box :tuesday_second
                = f.label :tuesday_second, '2-6'
              .large-3.columns
                = f.check_box :tuesday_third
                = f.label :tuesday_third, '5-9'
              %br
            .large-4.columns
              .large-3.columns
                %strong Wednesday
              .large-3.columns
                = f.check_box :wednesday_first
                = f.label :wednesday_first, '10-2'
              .large-3.columns
                = f.check_box :wednesday_second
                = f.label :wednesday_second, '2-6'
              .large-3.columns
                = f.check_box :wednesday_third
                = f.label :wednesday_third, '5-9'
              %br
              .large-3.columns
                %strong Thursday
              .large-3.columns
                = f.check_box :thursday_first
                = f.label :thursday_first, '10-2'
              .large-3.columns
                = f.check_box :thursday_second
                = f.label :thursday_second, '2-6'
              .large-3.columns
                = f.check_box :thursday_third
                = f.label :thursday_third, '5-9'
              %br
            .large-4.columns
              .large-3.columns
                %strong Friday
              .large-3.columns
                = f.check_box :friday_first
                = f.label :friday_first, '10-2'
              .large-3.columns
                = f.check_box :friday_second
                = f.label :friday_second, '2-6'
              .large-3.columns
                = f.check_box :friday_third
                = f.label :friday_third, '5-9'
              %br
              .large-3.columns
                %strong Saturday
              .large-3.columns
                = f.check_box :saturday_first
                = f.label :saturday_first, '10-2'
              .large-3.columns
                = f.check_box :saturday_second
                = f.label :saturday_second, '2-6'
              .large-3.columns
                = f.check_box :saturday_third
                = f.label :saturday_third, '5-9'
              %br
              .large-3.columns
                %strong Sunday
              .large-3.columns
                = f.check_box :sunday_first
                = f.label :sunday_first, '10-2'
              .large-3.columns
                = f.check_box :sunday_second
                = f.label :sunday_second, '2-6'
              .large-3.columns
                = f.check_box :sunday_third
                = f.label :sunday_third, '5-9'
            = f.label :comment, 'Additional Comments'
            = f.text_field :comment
            = f.submit 'Save', class: :button
    = render 'locations_table'
.widget
  .inner
    #locations_map
    - location_count = 0
    - for location_area in @location_areas do
      - next if @candidate.location_area and @candidate.location_area == location_area
      - location = location_area.location
      - target = 0
      - potentials = 0
      - current = 0
      - target = location_area.target_head_count if location_area
      - potentials = location_area.potential_candidate_count if location_area
      - current = location_area.current_head_count if location_area
      - open = target - (current + potentials)
      - location_count += 1
      - distance = location.geographic_distance(@candidate).round(2)
      - info_window = "#{location_count.to_s}. #{location.channel.name}, #{location.display_name}".html_safe
      - info_window += " (##{location.store_number})<br><br>".html_safe
      - info_window += "#{distance} miles<br><br>".html_safe
      - info_window += "#{location.address}<br><br>".html_safe
      - if location_area.hourly_rate
        - info_window += "<strong>Hourly Rate: #{number_to_currency(location_area.hourly_rate)}</strong><br><br>".html_safe
      - info_window += "<strong>Open: #{open}</strong><br><br>".html_safe
      - info_window += link_to 'Choose', set_location_area_candidate_path(@candidate, location_area, @back_to_confirm.to_s)
      :javascript
         markers.push({
          "lat": #{html_escape(location.latitude)},
          "lng": #{html_escape(location.longitude)},
          "picture": {
            "url": "/images/#{location_area.area.project.name.gsub(' ', '').underscore}_logo_32x32.png",
            "width": 32,
            "height": 32
          },
          "infowindow": '#{info_window}'
        });
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {
        styles: mapStyle()
      }, internal: {id: 'locations_map'}}, function () {
        handledMarkers = handler.addMarkers(markers);
        handler.map.centerOn(markers[0]);
        handler.bounds.extendWith(handledMarkers);
        handler.fitMapToBounds();
        // handler.getMap().setZoom(10);
      });
