- title "Select Location for #{@candidate.name}"
- content_for :action_buttons do
  - if @candidate.active?
    = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
    -#= link_to 'Dismiss Candidate for Schedule Reason', new_candidate_candidate_scheduling_dismissal_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]

:javascript
  var markers = [];
  markers.push({
    "lat": #{html_escape(@candidate.latitude)},
    "lng": #{html_escape(@candidate.longitude)},
    "infowindow": "#{html_escape(@candidate.zip)} (Home)"
  });

.widget
  .inner
    %h3 Nearby Locations
    %p
      Listed below are the nearest locations to the candidate.
    %p.row.full-width
      = search_form_for @location_area_search, url: select_location_candidate_path(@candidate, @back_to_confirm.to_s) do |f|
        - projects = @location_areas.map{|la| [la.area.project.name, la.area.project.id]}.uniq
        = f.select :area_project_id_eq, projects, { include_blank: true }, { class: [:autosize_dropdown] }
        = f.submit 'Filter', class: [:button, :inline_button]
    = render 'locations_table'
.widget
  .inner
    #locations_map
    - location_count = 0
    - for location_area in @location_areas do
      - next if @candidate.location_area and @candidate.location_area == location_area
      - location = location_area.location
      - target = 0
      - offers_extended = 0
      - current = 0
      - target = location_area.target_head_count if location_area
      - offers_extended = location_area.offer_extended_count if location_area
      - current = location_area.current_head_count if location_area
      - open = target - (current + offers_extended)
      - location_count += 1
      - distance = location.geographic_distance(@candidate).round(2)
      - info_window = "#{location_count.to_s}. #{location.channel.name}, #{location.display_name}".html_safe
      - info_window += " (##{location.store_number})<br><br>".html_safe
      - info_window += "#{distance} miles<br><br>".html_safe
      - info_window += "#{location.address}<br><br>".html_safe
      - if location_area.hourly_rate
        - info_window += "<strong>Hourly Rate: #{number_to_currency(location_area.hourly_rate)}</strong><br><br>".html_safe
      - info_window += "<strong>Open: #{open}</strong><br><br>".html_safe
      - info_window += link_to 'Choose', set_location_area_candidate_path(@candidate, location_area, @back_to_confirm.to_s)
      :javascript
         markers.push({
          "lat": #{html_escape(location.latitude)},
          "lng": #{html_escape(location.longitude)},
          "picture": {
            "url": "/images/#{location_area.area.project.name.gsub(' ', '').underscore}_logo_32x32.png",
            "width": 32,
            "height": 32
          },
          "infowindow": '#{info_window}'
        });
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {
        styles: mapStyle()
      }, internal: {id: 'locations_map'}}, function () {
        handledMarkers = handler.addMarkers(markers);
        handler.map.centerOn(markers[0]);
        handler.bounds.extendWith(handledMarkers);
        handler.fitMapToBounds();
        // handler.getMap().setZoom(10);
      });
