- if @comcast_sale.errors.any?
  - @comcast_sale.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for [@comcast_customer, @comcast_sale] do |f|
      - sale_date = short_date(@comcast_sale.sale_date)
      = f.label :sale_date
      = f.text_field :sale_date, value: sale_date, placeholder: 'MM/DD/YYYY'
      = f.label :order_number
      = f.text_field :order_number
      %fieldset
        %legend Services
        .row.full-width
          .medium-3.columns
            = f.check_box :tv
            = f.label :tv, 'Television'
          .medium-3.columns
            = f.check_box :internet
            = f.label :internet
          .medium-3.columns
            = f.check_box :phone
            = f.label :phone
          .medium-3.columns
            = f.check_box :security
            = f.label :security
      %fieldset
        %legend Installation
        = f.fields_for :comcast_install_appointment do |a|
          - slots = options_from_collection_for_select(@time_slots, 'id', 'name')
          - appointment = @comcast_sale.comcast_install_appointment
          - install_date = short_date(appointment.install_date)
          = a.label :install_date
          = a.text_field :install_date, value: install_date, placeholder: 'MM/DD/YYYY'
          = a.label :comcast_install_time_slot_id, 'Install time slot'
          = a.select :comcast_install_time_slot_id, slots
        %p
          = f.check_box :customer_acknowledged
          = f.label :customer_acknowledged, 'Customer agrees to receive text message reminder(s) and/or phone calls.'
      = f.submit 'Complete Sale', class: [:button]