- title @project.name + ' Areas'
- if AreaPolicy.new(@current_person, Area.new).new?
  - content_for :action_buttons do
    = new_button new_client_project_area_path
- if @areas and not @areas.empty?
  .widgets
    - @areas.each_slice(3) do |group|
      .row.full-width
        - for area in group
          .large-4.medium-6.columns.widget
            .inner
              - if area.is_childless?
                %h3= area.parent.name
                = area_link(area)
              - else
                - areas = area.descendants.where(active: true).arrange(order: :name)
                %h3= area.name
                = nested_areas areas
        = empty_columns(@areas, group, 3, 'widget')
- else
  %p
    No records to show.
    - if AreaPolicy.new(@current_person, Area.new).new?
      Create a new Area by using the "New" button.