.call-date-set
  .call-date
    .call-year= date.strftime("%Y")
    .call-month= date.strftime('%b')
    .call-day= date.strftime("%-d")
    .call-weekday= date.strftime('%a')
    .call-time= date.strftime("%-l:%M%p")