- content_for :header do
  = link_to icon('magnifying-glass'), '#', id: 'show_search'

  = search_form_for @search, id: 'search_form', role: 'form' do |f|
    = link_to "&times;".html_safe, '#', id: 'hide_search'
    = link_to 'Clear', request.path if params[:q]
    = f.text_field :person_display_name_cont, placeholder: 'Performed By', class: 'form-control'
    = f.text_field :trackable_type_cont, placeholder: 'Type', class: 'form-control'
    = f.text_field :created_at_date_equals, placeholder: '(MM/DD/YYYY)', class: 'form-control'
    = f.submit 'Search', class: 'button'

= render partial: 'shared/log_entries', locals: { log_entries: @log_entries }
= paginate @log_entries