- content_for :header do
  = search_form_for @search, class: 'search_form', role: 'form' do |f|
    - if not params[:q]
      = icon('magnifying-glass')
    = link_to 'Clear', request.path if params[:q]
    = f.text_field :person_display_name_cont, placeholder: 'Performed By', class: 'form-control'
    = f.collection_select :trackable_type_eq, LogEntry.order(:trackable_type).group(:trackable_type), :trackable_type, :trackable_type, { prompt: 'Type' }, class: 'form-control'
    = f.submit 'Search', class: 'button tiny'
  .top-pagination
    = paginate @log_entries

= render 'shared/log_entries'
= paginate @log_entries