- if @vonage_transfer.errors.any?
  - @vonage_transfer.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for @vonage_transfer do |f|
      = f.label :to_person, 'To'
      = f.text_field :to_person, placeholder: 'Transfer To'
      = f.label :from_person, 'From'
      = f.text_field :from_person, placeholder: 'Transfer From'
      = f.label :vonage_device_id, 'Device'
      = f.text_field :vonage_device_id, placeholder: 'Vonage Device'
      = f.label :accepted, 'Accepted'
      = f.text_field :accepted, placeholder: 'Accepted?'
      = f.label :transfer_time
      = f.text_field :transfer_time, placeholder: 'Transfer Time'
      = f.label :rejection_time
      = f.text_field :rejection_time

      = f.submit 'Enter', class: [:button], id: ''



