- if @line_state.errors.any?
  - @line_state.errors.full_messages.each do |msg|
    .alert.alert-box= msg
.widget
  .inner
    = form_for @line_state do |f|
      = f.label :name
      = f.text_field :name
      = f.submit 'Save', class: :button
      = link_to 'Cancel', :back, class: :small