- content_for :action_buttons do
  - if @candidate.active?
    = link_to 'Dismiss Candidate', dismiss_candidate_path(@candidate), data: { confirm: 'This will dismiss the candidate. Are you sure?' }, class: [:button, :inline_button]
.widget
  .inner
    = form_for [@candidate, @prescreen_answer] do |f|
      = hidden_field_tag 'call_initiated', @call_initiated.to_s
      %p
        = f.check_box :worked_for_salesmakers
        = f.label :worked_for_salesmakers, 'Candidate has not worked for SalesMakers'
      %p
        = f.check_box :worked_for_sprint
        = f.label :worked_for_sprint, 'Candidate has not worked for Sprint, or is eligible for rehire'
      %p
        = f.check_box :of_age_to_work
        = f.label :of_age_to_work,'Candidate is over 18'
      %p
        = f.check_box :high_school_diploma
        = f.label :high_school_diploma,'Candidate has achieved a high school diploma or equivalant'
      %p
        = f.check_box :eligible_smart_phone
        = f.label :eligible_smart_phone, 'Candidate has an eligible smart phone and/or computer'
      %p
        = f.check_box :can_work_weekends
        = f.label :can_work_weekends, 'Candidate can work weekends and is OK with 20-24 hours'
      %p
        = f.check_box :reliable_transportation
        = f.label :reliable_transportation, 'Candidate has access to reliable transportation'
      %p
        = f.check_box :ok_to_screen
        = f.label :ok_to_screen, 'Candidate gave permission for background check and drug screen'
      %p
        = label_tag :inbound, 'Is this call inbound or outbound?'
        = select_tag :inbound, options_for_select([['Inbound', true], ['Outbound', false]]), include_blank: true
      = f.submit 'Save Answers', class: :button
