- if @vonage_device.errors.any?
  - @vonage_device.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    = form_for @vonage_device do |f|
      = f.label :po_number, 'PO Number'
      = f.text_field :po_number, placeholder: 'Enter PO Number'
      = f.label :receive_date, 'Receive Date'
      = f.text_field :receive_date, placeholder: 'MM/DD/YYYY'
      = f.label :mac_id, 'MAC ID'
      = f.text_field :mac_id, placeholder: '12 characters (0-9 & A-F)'

      .large-1.columns.add_delete_button
        %a.button.postfix.add_row(href='#') Add


      = f.submit 'Receive', class: [:button]

