- if @vonage_device.errors.any?
  - @vonage_device.errors.full_messages.each do |msg|
    .alert.alert-box= msg

= form_tag vonage_devices_path, method: :post do
  .widget
    .inner
      = label_tag :po_number, 'PO Number'
      = text_field_tag 'po_number', nil, placeholder: 'Enter PO Number'
      = label_tag :receive_date, 'Receive Date'
      = text_field_tag 'receive_date', nil, placeholder: 'MM/DD/YYYY'
  .widget
    .inner
      .row.full-width.vonage_device
        .large-11.medium-10.small-7.columns= text_field_tag 'mac_id[]', nil, placeholder: 'MAC ID (12 characters, 0-9 & A-F)', class: 'mac_id'
        .large-1.medium-2.small-5.columns.add_delete_button
          %a.button.postfix.add_row Add
      = submit_tag 'Receive Devices', class: [:button]

