.widget
  .inner
    .row.full-width
      .large-3.columns.centered_text
        = link_to image_tag( avatar_url(post.person), class: :avatar), '#'
        %div
          %strong
            = link_to post.person.display_name, post.person
        .posted_to
          to
          = wall_link post.wall.wallable
        .small.comment.centered_text= time_ago_in_words(post.created_at) + ' ago'
      .large-9.columns
        .post_content
          = yield