!!!
%html
  %head
    %title
      Reconnect -
      = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
    = stylesheet_link_tag 'application', params[:controller], media: 'all'
    = javascript_include_tag 'application', params[:controller]
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }

  %body
    - if current_user and current_user.groupme_access_token
      %input{type: 'hidden', value: current_user.groupme_access_token, id: 'group_me_access_token' }
      %input{type: 'hidden', value: current_user.group_me_user_id, id: 'group_me_user_id' }
    #header
      = render "shared/top_navigation"
      .clear
    .off-canvas-wrap{ data: { offcanvas: '' } }
      .inner-wrap
        = render "shared/off_canvas_navigation"
        .container
          %header
            %h1
              = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
              = yield :action_buttons
            = yield :header
          .notices
            - if @current_person and @current_person.groupme_access_token and @current_person.groupme_token_updated < Time.now - 30.days
              .alert-box.alert{ data: { alert: '' } }
                %div
                  GroupMe requires that you log in through our website every
                  so often to continue to use its features. To renew your
                  GroupMe integration,
                  = link_to 'click here now.', auth_group_mes_path
                %a.close(href='#') &times;
            - if @current_person and not @current_person.groupme_access_token and not @current_person.groupme_token_updated
              .alert-box.alert{ data: { alert: '' } }
                %div
                  You have not yet set up GroupMe integration. You're missing
                  out on a lot of cool features! To integrate with your
                  GroupMe account,
                  = link_to 'click here now.', auth_group_mes_path
                %a.close(href='#') &times;
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                .alert-box{ class: (name.to_s == 'notice' ? 'success' : 'alert'), data: { alert: '' } }
                  = content_tag :div, msg
                  %a.close(href='#') &times;
        -#.slider= yield :slider Commenting out. Not needed
        .container
          %section#content
            = yield

          %footer
            = yield :footer


      -#= render "shared/admin_navigation"
      = render 'shared/chat'
      %a.exit-off-canvas
    .widget_loading
      =image_tag 'loading.gif'
      %br
      %em Loading...
    - unless @seen_before
      %ol.joyride-list{ data: { joyride: '' } }
        %li{ data: { id: 'joyride-logo', text: 'Next', options: 'prev_button: false; tip_location: right' } }
          %p
            When you want to go back to home, click on this logo.
        %li{ data: { id: 'joyride-projects', text: 'Next', prev_text: 'Previous', options: 'tip_location: left' } }
          %p
            The projects RBD runs for its clients will be listed here if you
            have permission to view them. Click on a project name in the
            drop-down to view things posted to everyone involved in the project.
        %li{ data: { id: 'joyride-people', text: 'Next', prev_text: 'Previous', options: 'tip_location: left' } }
          %p
            Click here to search through people that are visible to you. You can
            find contact information for people in the list, or click on their
            name to view their wall and profile.
        %li{ data: { id: 'joyride-profile', text: 'Next', prev_text: 'Previous', options: 'tip_location: left' } }
          %p
            To view and edit your own profile or log out, click here.
        %li{ data: { id: 'joyride-chat', text: 'Next', prev_text: 'Previous', options: 'tip_location: left' } }
          %p
            Use this button to view your GroupMe groups and messages.
        %li{ data: { id: 'text_tab_link', text: 'Next', prev_text: 'Previous' } }
          %p
            Share plain text messages...
        %li{ data: { id: 'photos_tab_link', text: 'Next', prev_text: 'Previous' } }
          %p
            \... or post a photo and add a caption...
        %li{ data: { id: 'video_tab_link', text: 'Next', prev_text: 'Previous' } }
          %p
            \... and even paste in a link to a Vimeo or YouTube video to share it.
        %li{ data: { id: 'text_post_wall_id', text: 'Next', prev_text: 'Previous', options: 'tip_location: right' } }
          %p
            This drop-down will allow you to select who to post to. If
            you have permission to post to multiple groups, you can change
            the wall your post will be shared with here.
        %li{ data: { id: 'first_post_author', text: 'Next', prev_text: 'Previous', options: 'tip_location: bottom' } }
          %p
            View a post author's wall or profile by clicking their name or photo.
        %li{ data: { id: 'first_post_icon_star', text: 'Next', prev_text: 'Previous', options: 'tip_location: top' } }
          %p
            You can show that you like a post by clicking the star!
        %li{ data: { id: 'first_post_add_comment', text: 'Next', prev_text: 'Previous', options: 'tip_location: bottom' } }
          %p
            Add a comment or reply to a post by clicking its "Add Comment" link.
        %li{ data: { id: 'first_post_visibility', text: 'Next', prev_text: 'Previous', options: 'tip_location: bottom' } }
          %p
            Change who the post is visible to by clicking "Change Post Visibility".
        %li{ data: { id: 'first_post_delete', text: 'Next', prev_text: 'Previous', options: 'tip_location: bottom' } }
          %p
            Delete a post if you feel that it's inappropriate. Careful, this cannot
            be undone!
        %li{ data: { button: 'End', prev_text: 'Previous' } }
          %h4 Support and Feedback
          %p
            If at any time you wish to provide us with feedback,
            you can send an email to
            = mail_to 'development@retaildoneright.com', 'development@retaildoneright.com.'
      = javascript_include_tag 'foundation_new/foundation.joyride', params[:controller]
      = javascript_include_tag 'foundation_new/foundation.cookie', params[:controller]
      :javascript
        if ($(window).width() >= 1280) {
          imagesLoaded('body', function() {
            $(document).foundation('joyride', 'start');
          });
        }