!!!
%html
  %head
    %title
      Reconnect -
      = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
    = stylesheet_link_tag 'application', params[:controller], media: 'all'
    = stylesheet_link_tag current_theme + '/application' if current_theme
    = javascript_include_tag 'application', params[:controller]
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }

  %body

    #header
      = render "shared/top_navigation"
      .clear
    .off-canvas-wrap{ data: { offcanvas: '' } }
      .inner-wrap
        = render "shared/off_canvas_navigation"
        .container
          %header
            %h1
              = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
              = yield :action_buttons
            = yield :header
          .notices
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                .alert-box{ class: (name.to_s == 'notice' ? 'success' : 'alert'), data: { alert: '' } }
                  = content_tag :div, msg
                  %a.close(href='#') &times;
        .slider= yield :slider
        .container
          %section#content
            = yield

          %footer
            = yield :footer


        = render "shared/admin_navigation"
        %a.exit-off-canvas
    .widget_loading
      =image_tag 'loading.gif'
      %br
      %em Loading...