!!!
%html
  %head
    %title
      Reconnect -
      = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
    = stylesheet_link_tag 'application', params[:controller], media: 'all'
    = javascript_include_tag 'application', params[:controller]
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }

  %body
    %input{type: 'hidden', value: current_user.groupme_access_token, id: 'group_me_access_token' }
    %input{type: 'hidden', value: current_user.group_me_user_id, id: 'group_me_user_id' }
    #header
      = render "shared/top_navigation"
      .clear
    .off-canvas-wrap{ data: { offcanvas: '' } }
      .inner-wrap
        = render "shared/off_canvas_navigation"
        .container
          %header
            %h1
              = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
              = yield :action_buttons
            = yield :header
          .notices
            - if @current_person and @current_person.groupme_access_token and @current_person.groupme_token_updated < Time.now - 30.days
              .alert-box.alert{ data: { alert: '' } }
                %div
                  GroupMe requires that you log in through our website every
                  so often to continue to use its features. To renew your
                  GroupMe integration,
                  = link_to 'click here now.', auth_group_mes_path
                %a.close(href='#') &times;
            - if @current_person and not @current_person.groupme_access_token and not @current_person.groupme_token_updated
              .alert-box.alert{ data: { alert: '' } }
                %div
                  You have not yet set up GroupMe integration. You're missing
                  out on a lot of cool features! To integrate with your
                  GroupMe account,
                  = link_to 'click here now.', auth_group_mes_path
                %a.close(href='#') &times;
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                .alert-box{ class: (name.to_s == 'notice' ? 'success' : 'alert'), data: { alert: '' } }
                  = content_tag :div, msg
                  %a.close(href='#') &times;
        -#.slider= yield :slider Commenting out. Not needed
        .container
          %section#content
            = yield

          %footer
            = yield :footer


      -#= render "shared/admin_navigation"
      = render 'shared/chat'
      %a.exit-off-canvas
    .widget_loading
      =image_tag 'loading.gif'
      %br
      %em Loading...