!!!
%html
  %head
    %title
      Reconnect -
      = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]
    = csrf_meta_tags

  %body
    = render "shared/top_navigation"
    #container
      %header
        %h1
          = content_for?(:title) ? yield(:title) : NameCase(params[:controller].sub('_',' '))
          = yield :action_buttons
        = yield :header
      .notices= notice
      %section#content
        = yield

      %footer
        = yield :footer

    = render "shared/admin_navigation"